<nav class="navbar">
    <a class="logo" routerLink="/">RaumMate</a>
    <div class="nav-links">
      <a class="link" routerLink="/">Home</a>
      <a class="link" routerLink="/property">Search Room</a>
      <a class="link" routerLink="/about">About Us</a>
      <a class="link" routerLink="/contact">Contact</a>
      <ng-container *ngIf="!isLoggedIn()">
        <a routerLink="/auth/login" class="btn login-btn">Login</a>
        <a routerLink="/auth/register" class="btn register-btn">Register</a>
      </ng-container>
      <ng-container *ngIf="isLoggedIn()">
        <a (click)="logout()" class="btn login-btn">LogOut</a>
        <a routerLink="/user/profile" class="btn register-btn">Profile</a>
      </ng-container>
    </div>
  </nav>