<aside class="sidebar">
    <div class="profile-pic">
      <img *ngIf="user.profilePicture; else defaultPic" [src]="user.profilePicture" alt="Profile Picture">
      <ng-template #defaultPic>
        <img [src]="defaultProfilePicture" alt="Default Profile Picture">
      </ng-template>
      <h3>{{ user.firstName }} {{ user.lastName }}</h3>
      <div *ngIf="reviews.length === 0">No reviews yet</div>
      <p class="role">{{ user.role | uppercase }}</p>
    </div>
    <nav>
      <a routerLink="/user/profile" >Profile</a>
      <a routerLink="/user/setting">Settings</a>
      <a routerLink="/user/my-listing">My Listings</a>
      <a routerLink="/messages/chat">Messages</a>
      <a routerLink="/property/create">Add Property</a>
      <a routerLink="/user/booking">Booking</a>
    </nav>
  </aside>